{{!< default}}
<div class="container">
	<div class="jumbotron">
	<!-- <img src="/images/JugsJarslogo.png" width="160"> -->
		<img src="/images/jugorjar.jpg" width=100%>  
		<p>This is the website of <a href='https://www.linkedin.com/in/lotti-kaelen-29968925/' target='_blank'>Lotti Kaelen</a></p>
		
	</div>
</div>
